@import "../../../styles/common.scss";

.patientManage {

  .manageTitle {
    color: $primary-brown;
    font-size: 32px;
    padding: 16px 0;
    font-weight: bold;
  }

  .dateInfo {
    width: 100%;

    label {
      margin-bottom: 12px;
    }

    :global {

      .ant-picker,
      .ant-select {
        width: 100% !important;
      }
    }
  }

  .btnConfirm {
    border-radius: 5px;
    border: none;
    width: 55%;
    margin-right: 8px;
  }

  .btnCancel {
    border-radius: 5px;
    width: 40%;
  }
}