@import "../../../styles/common.scss";
@import "../../../styles/media";

.slider {
  margin-bottom: 24px;
  :global {
    .slick-thumb {
      margin-bottom: -14px;
      li {
        width: 60px;
        height: 40px;
        margin-right: 4px;
        margin-left: 4px;
      
        img {
          border-radius: 5px;
          width: 60px;
          height: 40px;
          object-fit: cover;
          -webkit-filter: grayscale(1);    
          filter: grayscale(1); 
        }

        &:hover img {
          
          -webkit-filter: grayscale(0);    
          filter: grayscale(0); 
        }
      }

      .slick-active {
        img {
          -webkit-filter: grayscale(0);    
          filter: grayscale(0); 
        }
      }
    }
  }

  .sliderImage {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }

  .sliderItem {
    height: 800px;
    position: relative;
  }

  .sliderContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sliderTile {
    font-size: 60px;
    color: $primary-light;
  }

  .sliderInput {
    background: transparent;
    border: 1px solid $primary-light;
    border-color: $primary-light !important;
    color: $primary-white;
    box-shadow: none;

    input {
      background: transparent;
      color: $primary-white;
    }
  }

  @include maxMd {
    .sliderImage {
      height: 600px;
    }
  
    .sliderItem {
      height: 600px;
    }
  }
}