/*
 * General styles
 */
 @import "./media";
 body, html {
    font-family: $fontmain;
    font-size: $base-size - 2px;
    overflow-x: hidden;
}

.container {
  @media only screen and (max-width: #{$lg-breakpoints - 1px}) {
      padding: 0 8px;
  }
}

/* Override base SVG style to work with Ant Design */
svg {
  vertical-align: initial;
}