@import "variables";
@import "mixins";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}

.shadow-primary {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}