@import "../../../styles/common.scss";

.specialtyManage {
  .specialtyManageTitle {
    color: $primary-brown;
    font-size: 32px;
    padding: 16px 0;
    font-weight: bold;
  }

  .saveWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 0;

    .specialtyManageSaveBtn {
      min-width: 140px;
    }
  }

  .btnDelete {
    color: $common-red;
  }

  .tableInfo {
    @include ellipsis(3);
  }
}