@use "sass:map";
@import "../../styles/common";

.freeText {
  p:last-child {
    margin: 0;
  }

  ul,
  ol {
    padding-left: 24px;
    margin-bottom: 0;
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 10px;
    }
  }

  iframe {
    width: 100%;
    min-height: 400px;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  @include maxLg {

    ul,
    ol {
      li {
        margin-bottom: 8px;
      }
    }
  }
}