@import "../../../styles/common.scss";


.listDoctor {
  .link {
    text-decoration: none;
  }

  :global {
    .ant-card {
      border-radius: 5px;
      overflow: hidden;
    }

    .ant-select {
      border-radius: 5px;
    }
  }
}