@import "../../../styles/common.scss";

.userContainer {
  .userManageTitle {
    font-size: 32px;
    color: $primary-brown;
    padding: 16px 0;
    font-weight: bold;
  }

  :global {
    .btn-delete {
      color: $common-red;
    }
  
    .btn-add-user {
      display: flex;
      align-items: center;
    }

    .current-user {
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $common-green;
    }
  }
}